{% extends 'base.html' %}
{% block title %}Atualizar Treinamento{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Atualizar Treinamento</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Treinamento:</label>
        <input type="text" class="form-control" value="{{ treinamento.nome_treinamento }}" disabled>

        <label>Data de Realização:</label>
        <input type="date" class="form-control" name="data_realizacao" value="{{ treinamento.data_realizacao|date:'Y-m-d' }}">

        <label>Data de Término:</label>
        <input type="date" class="form-control" name="data_termino" value="{{ treinamento.data_termino|date:'Y-m-d' }}">

        <label>Carga Horária:</label>
        <input type="number" class="form-control" name="carga_horaria" value="{{ treinamento.carga_horaria }}">

        <label>Data de Vencimento (Certificado):</label>
        <input type="date" class="form-control" name="validade_certificado" value="{{ treinamento.validade_certificado|date:'Y-m-d' }}">

        <label>Data de Vencimento (Passaporte Vale):</label>
        <input type="date" class="form-control" name="validade_passaporte" value="{{ treinamento.validade_passaporte|date:'Y-m-d' }}">

        <button type="submit" class="btn btn-success mt-3">Salvar Alterações</button>
        <a href="{% url 'dashboard_treinamentos' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
</div>
{% endblock %}